---
import { ExperienceSection } from "@/components/home/Experience/Experience";
import { HeroSection } from "@/components/home/Hero/Hero";
import { ProjectsSection } from "@/components/home/Projects/Projects";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="min-h-dvh grid bg-background dark:bg-gradient-to-r dark:from-zinc-900 dark:to-zinc-950 dark:to-40% text-foreground">
    <HeroSection />
    <ExperienceSection />
    <ProjectsSection />
  </main>
</Layout>

