---
import HeadSEO from "@/components/HeadSEO.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<HeadSEO 
			title="Desenvolvedor Web Front End | Higor Code" 
			description="Aumente as vendas do seu infoproduto com páginas otimizadas para conversão" 
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
