---
import HeadSEO from "@/components/HeadSEO.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="pt-BR" class="dark">
	<head>
		<HeadSEO 
			title="Desenvolvedor Web Front End | Higor Code" 
			description="Portfólio Front-End, focado em ReactJS, NextJS e TypeScript para colaborar em projetos desafiadores." 
		/>
	</head>
	<body class="antialiased">
		<slot />
	</body>
</html>
